body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: myFirstFont;
  src: url(ROCK.TTF);
}

a{
  text-decoration: none;
  font-family: myFirstFont;
  color: black;
}

a:hover {
  color: #6A8EBF;
}

.everything {
  width: 100vw;
  height: 100vh;
  background-image: url('Rectangle\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  display: flex;
  width: calc(100vw - 25px);
  height: calc(100vh - 80px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: hidden;
}

main p {
  margin: 0px;
  padding: 0px 0px;
  font-size: 50px;
  font-weight: lighter;
}

main h1 {
  margin: 0px;
  padding: 10px 0 30px 0px;
  font-size: 100px;
}

main h3 {
  margin: 0px;
  padding: 0px;
  font-size: 60px;
}

.left {
  padding-right: 200px;
  font-family: myFirstFont;
}

#shape {
  max-width: auto;
  height: 640px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 25px;
}

#home {
  padding-left: 10px;
}

nav {
  padding-left: 600px;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid rgba(190, 190, 190, 0.353);
}

ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  padding: 0 20px;
}

.main2 {
  display: flex;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow-y: hidden;
}

#pic {
  width: 600px;
}

#p {
  padding-top: 100px;
  width: 800px;
}
